.brand-logo {
	margin-left: 20px;
}

.brand-logo:hover {
	border-bottom: 3px solid #1e88e5;
}

#logo {
	height: 24px;
	margin-right: 10px;
}

.fullWidth {
	width: 100%;
}

#google {
	background-color: #ea4335;
}

#linkedin {
	background-color: #0077b5;
}

#loginForm {
	margin-top: 80px;
}

#noAccount {
	margin-top: 20px;
}

#newHall {
	cursor: pointer;
}

#error {
	font-size: 175px;
}

.circle-small {
	height: 30px;
	margin-left: 15px;
	margin-bottom: -10px;
}

.activeLang {
	border: 1px solid black;
}

.width-140 {
	width: 140px;
}

.min-width-130 {
	min-width: 130px;
}

.mobile-flags {
	display: block;
	padding-left: 48px;
	height: 40px;
}

#addManyHallsForm, #addManyRequestsForm {
	clear: both;
}

#addManyHallsForm .file-path, #addManyRequestsForm .file-path  {
	margin-top: 11px;
}

#addManyHallsForm .customHeight, #addManyRequestsForm .customHeight {
	height: 54px;
	line-height: 54px;
}

.p-datatable.p-component input[type=text] {
	height: auto;
    margin: 0;
    box-sizing: inherit;
}

#qr-code-value {
	width: 100%;
	height: 150px;
}

.marginBottom {
	margin-bottom: 15px;
	clear: both;
}

.marginRight {
	margin-right: 20px;
}

#allUsers, #allHalls {
	cursor: pointer;
}

#allUsers .active, #allHalls .active {
	background-color: #f2f2f2;
}

.p-multiselect-label, .p-dropdown.p-component {
	height: 3rem;
    font-size: 1rem;
    line-height: 2rem;
}

.p-chips.p-component .p-chips-input-token {
    height: 2.5rem;
}

.p-chips.p-component .p-chips-input-token input {
    height: 2rem;
}

.readOnlyView .p-inputtext.p-disabled, .readOnlyView .p-inputtext.p-disabled .p-chips-input-token {
	border: 0;
}

#keyWords.p-chips.p-component {
	display: block;
}

.input-field .p-inputtext.p-component {
	margin: 0;
	height: 2rem;
}

.input-field .p-dropdown.p-component label {
	top: 0;
	width: auto;
}

.p-multiselect-header .p-multiselect-filter-container input[type=text], .p-listbox.p-inputtext.p-component input[type=text],
.p-inputtext.p-component.p-inputtext input[type=text] {
	height: auto;
    margin: 0;
    box-sizing: inherit;
}

body .p-multiselect .p-multiselect-panel .p-multiselect-header .p-multiselect-filter-container {
	width: 85%;
}

.p-dialog.p-component.p-dialog-enter-done.createNewVirtualMeeting {
	width: 60%;
	height: 90%;
}

.createNewVirtualMeeting .p-calendar {
	display: block;
}

.p-datatable-wrapper .p-datatable-tbody .p-datatable-row .p-button.p-component {
	display: block;
	margin: 0 auto;
}

.p-multiselect-item label {
	color: #333;
} 

.p-multiselect-item.p-highlight label {
	color: #fff;
}

.alignItems {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.alignItems:last-child {
	text-align: center;
}

.alignItems .p-multiselect.p-component {
	width: 100%;
}

.content-section.implementation .dayOfWeek {
	margin-left: 15px;
}

.p-grid {
	 padding: 30px;
}

.p-listbox.p-inputtext.p-component {
	width: 85%;
	margin: 0 auto;
	min-width: auto;
}

.p-listbox.p-inputtext.p-component .p-listbox-list {
	max-height: 350px;
}

.row.saparator:not(:last-child) {
	border-bottom: 1px solid #c8c8c8;
}

.descriptionSize {
	resize: none;
	height: 50px;
}

.p-grid a {
	word-break: break-all;
}

.borderTop {
	border-top: 1px solid #c8c8c8;
}